@media screen and (width >= 768px){

  .advantage__title{
    margin-bottom: 2.5rem;
  }
}

@media screen and (width < 768px){

  .advantage__title{
    margin-bottom: 1rem;
  }
}

.advantage{
  padding-left: 10rem;
}

.advantage__header{
  position: relative;
}

.advantage__icon{
  position: absolute;
  transform: translateX(-100%);
  left: -3rem;
}

.advantage__title{
  font-size: 2.6rem;
}

.advantage__description{
  font-size: 1.6rem;
}
