@media screen and (width < 480px){

  .contacts__info:not(:last-child){
    margin-bottom: .5rem;
  }
}

.contacts__info{
  font-style: normal;
  display: flex;
  align-items: center;

  &:hover{
    color: var(--second-color);
  }

  &:hover .contacts__icon{
    fill: var(--second-color);
  }
}

.contacts__icon{
  fill: var(--third-color);
  margin-right: .5rem;
}
