.contacts__info{
  padding-left: 2rem;
  background-repeat:no-repeat;
  background-position: left center;
  background-size: 13px 13px;
  font-style: normal;

  &:hover{
    color: var(--second-color);
  }
}

.contacts__info_email{
  background-image: url("../img/icon-mail.svg");
}

.contacts__info_tel{
  background-image: url("../img/icon-mobile.svg");
}

.contacts__info_loc{
  background-image: url("../img/icon-location.svg");
}
