.contacts__info{
  padding-left: 2rem;
  background-repeat:no-repeat;
  background-position: left center;
  background-size: 13px 13px;
  color: var(--main-color);
  font-size: 1.2rem;

  &:hover{
    color: var(--second-color);
  }

  &:not(:last-child){
    margin-right: 2rem;
  }
}

.contacts__info_email{
  background-image: url("../img/icon-mail.svg");
}

.contacts__info_tel{
  background-image: url("../img/icon-mobile.svg");
}
