@media screen and (width >= 768px) {

  .footer__row{
    display: flex;
    justify-content: space-between;
  }

  .footer__wrapper{
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
}

@media screen and (width < 768px) {

  .footer__menu{
    display: none;
  }

  .footer__row{
    text-align: center;
  }

  .footer__wrapper{
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }
}

.footer{
  flex: none;
  background-color: #2f4052;
  padding-top: 7rem;
}

.footer__about{
  margin-bottom: 7rem;
}

.footer__wrapper{
  background-color: #283645;
}

.footer__copyright{
  color: var(--gray-color);
}

.footer__menu-list{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__menu-link{
  color: var(--gray-color);

  &:hover{
    color: var(--second-color);
  }
}

.footer__menu-list-item:not(:last-child)::after{
    content: "·";
    margin-left: 1rem;
    margin-right: 1rem;
  }
