@media screen and (width >= 1024px){

  .header__logo{
    margin-right: 8rem;
  }

  .header__switches{
    margin-left: 22.5rem;
  }

  .header__menu-button{
    display: none;
  }
}

@media screen and (width < 1024px){

  .header__menu{
    display: none;
  }
}

@media screen and (width >= 480px){

  .header__contacts{
    display: flex;
  }
}


.header__wrapper{
  background-color: #f5f7fa;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.header__container{
  padding: 4rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__contacts-info{
  font-size: 1.2rem;
  color: var(--main-color);

  &:not(:last-child){
    margin-right: 2rem;
  }
}

.header__menu{
  flex-grow: 1;
}

.header__switches{
  display: flex;
}

.header__search-button{
  text-indent: -9999px;
  background-image: url("../img/icon-search.svg");
  background-repeat:no-repeat;
  width: 18px;
  height: 18px;
  margin-right: 2.5rem;
  padding: 0;
}

.header__search-button_disable{
  display: none;
}

.header__menu-button{
  padding: 0;
}

.header__menu-button-row{
  display: block;
  width: 18px;
  height: 3px;
  background-color: var(--main-color);
  border-radius: 20%;

  &:not(:last-child){
    margin-bottom: 3px;
  }
}

.header__menu-list{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__menu-link{
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: 700;
  font-size: 1.5rem;

  &:hover{
    color: var(--second-color);
  }
}

.header__form{
  width: 100%;
  margin-top: 2rem;
  display: none;
  position: relative;
}

.header__form_active{
  display: block;
}

.header__input{
  width: 100%;
  border: none;
  outline: none;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
}

.header__form-button{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-indent: -9999px;
  background-image: url("../img/icon-search.svg");
  background-repeat:no-repeat;
  background-size: 100%;
  width: 12px;
  height: 12px;
  padding: 0;
}

.header__search-button-cross{
  padding: 0;
  width: 18px;
  height: 18px;
  position: relative;
  margin-right: 2.5rem;
  display: none;
}

.header__search-button-cross_active{
  display: block;
}

.header__button-cross{
  position: absolute;
  height: 18px;
  top: 0;
  left: 0;

  &:before, &:after{
    position: absolute;
    left: 8px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: var(--main-color);
  }

  &:before{
  transform: rotate(45deg);
  }

  &:after{
  transform: rotate(-45deg);
  }
}
