:root{
  --white-color: #fff;
  --black-color: #000000;
  --gray-color: #73879c;
  --second-color: #0bac93;
  --main-color: #506a85;
  --third-color: #a3b1bf;
  --forth-color: #17a78b;
}

@custom-media --small screen and (width <= 768px);
@custom-media --medium screen and (width <= 1024px) and (width > 768px);
@custom-media --big screen and (width > 1024px);


@media screen and (width > 1024px) {
  html{
    font-size: 62.5%;
  }
}

@media screen and (width <= 1024px) and (width > 768px) {
  html{
    font-size: 58%;
  }
}

@media screen and (width <= 768px) {
  html{
    font-size: 54%;
  }
}

a{
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
}

p{
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 1rem;
}

p:last-child{
  margin-bottom: 0;
}

ul{
  line-height: 1.7;
}

body{
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  background-color: var(--white-color);
  margin: 0;
  color: var(--main-color);
}
