@media screen and (width >= 480px){

  .last-works__wrapper{
    display: flex;
    flex-wrap: wrap;
  }

  .last-works__project{
    width: 48%;

    &:nth-child(2n+1){
      margin-right: 4%;
    }
  }

  .last-works__img-container{
    width: 22%;

    &:not(:last-child){
      margin-right: 4%;
    }
  }

  .last-works__switches{
    display: none;
  }

  .last-works__slider:hover .last-works__switches{
    display: flex;
  }
}


@media screen and (width < 480px){

  .last-works__project{
    width: 100%;

    &:not(:last-child){
      margin-bottom: 4rem;
    }
  }

  .last-works__img-container{
    width: 48%;

    &:nth-child(2n+1){
      margin-right: 4%;
    }

    &:nth-child(n+3){
      margin-top: 2rem;
    }
  }

  .last-works__switches{
    display: flex;
  }
}

.last-works{
  padding-top: 12rem;
  padding-bottom: 15rem;
  background-color: #f2f5f7;
  margin-bottom: 12rem;
}

.last-works__header{
  text-align: center;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7rem;
}

.last-works__title{
  font-size: 4.4rem;
  margin-bottom: 3.5rem;
}

.last-works__header-text{
  font-size: 2.2rem;
}

.last-works__wrapper{
  margin-bottom: 8rem;
}

.last-works__project{
  padding-bottom: 3rem;
}


.last-works__img-container{
  position: relative;

  &::before{
    content: "";
    display: block;
    padding-left: 100%;
    padding-top: 68%;
    background-color: var(--second-color);
  }

  &:hover{
    cursor: pointer;
  }

  &:hover .last-works__img-description{
    display: block;
  }

  &:hover .last-works__thumbnail{
    opacity: .2;
  }
}

.last-works__slider{
  position: relative;
}

.last-works__slide-js{
  display: none;
}

.last-works__slide-js_active{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 8rem;
}

.last-works__thumbnail{
  position: absolute;
  top: 0;
  left: 0;
}

.last-works__img-description{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  text-align: center;
  color: var(--white-color);
}

.last-works__img-name{
  font-size: 16px;
  margin-bottom: .5rem;
}

.last-works__img-author{
  font-size: 14px;
}

.last-works__switches{
  position: absolute;
  bottom: 0;
  left: 50%;
  align-items: center;
  transform: translateX(-50%);
}

.last-works__switch-prev, .last-works__switch-next{
  cursor: pointer;
  padding: .8rem 1rem .6rem;
  background-color: var(--main-color);
  border-radius: 5%;
  opacity: .5;

  &:hover{
    opacity: 1;
  }

  &:hover .last-works__switch-icon{
    fill: var(--second-color);
  }
}

.last-works__switch-icon{
  fill: var(--white-color);
  width: 8px;
  height: 13px;
}

.last-works__dots{
  border-radius: 5%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.last-works__dot{
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  text-indent: -9999px;

  &:not(:last-child){
    margin-right: .7rem;
  }
}

.last-works__dot-js{
  background-color: var(--main-color);
}

.last-works__dot-js_active{
  background-color: var(--forth-color);
}
