.preview{
  margin-bottom: 12rem;
  position: relative;
}

.preview__slide{
  background-color: var(--main-color);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  &:nth-child(1){
    background-image: url('../img/preview1.png');
  }

  &:nth-child(2){
    background-image: url('../img/preview2.png');
  }

  &:nth-child(3){
    background-image: url('../img/preview3.png');
    color: var(--main-color);
  }

  &:nth-child(4){
    background-image: url('../img/preview4.png');
  }

  &:nth-child(5){
    background-image: url('../img/preview5.png');
  }
}

.preview__inner{
  position: relative;
  min-height: 88rem;
}

.preview__container{
  position: absolute;
  width: 100%;
}

.preview__container_1{
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  max-width: 97rem;
  text-align: center;
  color: var(--third-color);
}

.preview__container_2{
  right: 0;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  max-width: 78rem;
  text-align: right;
  color: var(--white-color);
}

.preview__container_3{
  left: 0;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: left;
  max-width: 70rem;
  color: var(--main-color);
}

.preview__container_4{
  text-align: right;
  top: 9rem;
  right: 0;
  max-width: 76rem;
  color: var(--white-color);
}

.preview__container_5{
  text-align: center;
  top: 9rem;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--third-color);
  max-width: 77rem;
}

.preview__title{
  font-size: 7.8rem;
  font-weight: 900;
  color: var(--white-color);
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

.preview__title-text{
  display: inline-block;
  background-color: var(--main-color);
  padding: 3rem 4rem;
  font-size: 7.3rem;

  &:not(:last-child){
    margin-bottom: 1rem;
  }
}

.preview__text{
  font-size: 2.4rem;
  margin-bottom: 6.5rem;
}

.preview__button{
  text-transform: uppercase;
  padding: 2.5rem 6rem;
  background-color: var(--second-color);
  color: var(--white-color);
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: .3rem;
}

.preview__switch-prev{
  position: absolute;
  top: 50%;
  left: 5rem;
  transform: translateY(-50%);
}

.preview__switch-next{
  position: absolute;
  top: 50%;
  right: 5rem;
  transform: translateY(-50%);
}
