@media screen and (width >= 768px) {

  .preview__title{
    font-size: 7.8rem;
  }

  .preview__title-text{
    padding: 3rem 4rem;
    font-size: 7.3rem;
  }

  .preview__inner{
    min-height: 88rem;
  }

  .preview__text{
    font-size: 2.4rem;
    margin-bottom: 6.5rem;
  }

  .preview__switch-prev, .preview__switch-next{
    top: 50%;
  }

  .preview__button{
    padding: 2.5rem 6rem;
  }

}

@media screen and (width < 768px){

  .preview__switch-prev, .preview__switch-next{
    bottom: 0;
  }

  .preview__title-text{
    padding: 1.5rem 2rem;
  }

  .preview__button{
    padding: 1.5rem 4rem;
  }

  .preview__text{
    font-size: 2rem;
    margin-bottom: 4rem;
  }
}

@media screen and (width < 768px) and (width >= 480px){

  .preview__title{
    font-size: 5rem;
  }

  .preview__title-text{
    font-size: 5rem;
  }

  .preview__inner{
    min-height: 70rem;
  }
}

@media screen and (width < 480px) {

  .preview__title{
    font-size: 4rem;
  }

  .preview__title-text{
    font-size: 3.5rem;
  }

  .preview__inner{
    min-height: 100vh;
  }
}

.preview{
  margin-bottom: 12rem;
  position: relative;
  background-color: var(--main-color);
}

@keyframes fade {

  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.preview__slide{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  animation: fade 1.5s;
  display: none;

  &:nth-child(1){
    background-image: url('../img/preview1.png');
  }

  &:nth-child(2){
    background-image: url('../img/preview2.png');
  }

  &:nth-child(3){
    background-image: url('../img/preview3.png');
  }

  &:nth-child(4){
    background-image: url('../img/preview4.png');
  }

  &:nth-child(5){
    background-image: url('../img/preview5.png');
  }
}

.preview__slide_active{
  display: block;
}

.preview__inner{
  position: relative;
}

.preview__container{
  position: absolute;
  width: 100%;
}

.preview__container_1{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 97rem;
  text-align: center;
  color: var(--third-color);
}

.preview__container_2{
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  max-width: 78rem;
  text-align: right;
  color: var(--white-color);
}

.preview__container_3{
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  max-width: 70rem;
  color: var(--main-color);
}

.preview__container_4{
  text-align: right;
  top: 9rem;
  right: 1.5rem;
  max-width: 76rem;
  color: var(--white-color);
}

.preview__container_5{
  text-align: center;
  top: 9rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--third-color);
  max-width: 77rem;
}

.preview__title{
  font-weight: 900;
  color: var(--white-color);
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

.preview__title-text{
  display: inline-block;
  background-color: var(--main-color);

  &:not(:last-child){
    margin-bottom: 1rem;
  }
}

.preview__button{
  text-transform: uppercase;
  padding: 2.5rem 6rem;
  background-color: var(--second-color);
  color: var(--white-color);
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: .3rem;
}

.preview__switch-prev, .preview__switch-next{
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
  padding: 1rem 1.9rem;
  background-color: #7b95b0;
  border-radius: 5%;
}

.preview:hover .preview__switch-prev, .preview:hover .preview__switch-next, .preview:hover .preview__dots{
  display: block;
}

.preview__switch-prev{
  left: 1.5rem;
}

.preview__switch-next{
  right: 1.5rem;
}

.preview__dots{
  position: absolute;
  bottom: -.3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white-color);
  padding: 1rem 1.5rem 0;
  border-radius: 5%;
  display: none;
}

.preview__dot{
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--main-color);
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  text-indent: -9999px;

  &:not(:last-child){
    margin-right: .7rem;
  }
}

.preview__dot_active{
  background-color: var(--fifth-color);
}
